# 《一》导入--中心运单数据

保证文件名为，例如【中心运单表--0723】格式,其中日期为当天的前一天 <br>
不然文件路径会出错，读写错误<br>

In [ ]:
from datetime import timedelta, datetime
start = datetime.now()#计时开始
print('开始时间： ' + str(start))


import pandas as pd 
from sqlalchemy import create_engine
import pymysql
from sqlalchemy.types import NVARCHAR, Float, Integer

# from os import listdir
# #遍历文件夹下的文件名
# filename_list = listdir(".\indata")
# filename = filename_list[0]
# yesterday = datetime.today() + timedelta(-1)
# filename = "\中心运单" + yesterday.strftime('%m%d') + ".xlsx"
# biaoname = "中心运单" + yesterday.strftime('%m%d')
# excelFile = "\\\\192.168.31.228\\路由规划共享\\线路规划组\\货量类\\货量明细表\\2020年06月份原始数据" 
# excelFile = excelFile + filename

yesterday = datetime.today() + timedelta(-1)
filename = "中心运单--" + yesterday.strftime('%m%d') + ".xlsx"
biaoname = "中心运单" + yesterday.strftime('%m%d')
excelFile = "./indata/" 
excelFile = excelFile + filename
print("文件名为：" + filename )

df = pd.DataFrame(pd.read_excel(excelFile,usecols=[3,4,5,6,7,15,17,18,19]))
df.reset_index()  #设置索引
df.index.name = 'zhongxin_id'
df = df.rename(columns={'所属一级网点':'派件所属一级网点'})

# df = df[["寄件日期","货量类型","寄件所属一级网点","寄件所属分拨中心","派件所属一级网点","派件所属分拨中心","产品类型","结算重量","体积","件数"]]

#设置映射数据库中字段类型
dtypedict = {'产品类型': NVARCHAR(length=255),
 '件数': Integer(),
 '体积': Float(),
 '寄件所属一级网点': NVARCHAR(length=255),
 '寄件所属分拨中心': NVARCHAR(length=255),
 '派件所属一级网点': NVARCHAR(length=255),
 '派件所属分拨中心': NVARCHAR(length=255),
 '结算重量': Float(),
 '货量类型': NVARCHAR(length=255)}


engine =create_engine('mysql+pymysql://root:123456''@localhost:3306/中心运单货量汇总',encoding='utf8') 

#即在数据库【中心运单货量汇总】下生成表【中心运单表0423】
df.to_sql(biaoname,con=engine,if_exists='replace',index=True,dtype=dtypedict)


end = datetime.now()
print('结束时间： '+str(end))
print("导入中心运单数据至Mysql中运行时间："+str((end-start).seconds)+"秒")

# 《二》批量读取运行【货量票数路由明细SQL代码】
读取sql.txt,输出每行在cmd运行，主要涉及操作为：<br>
`【01】`对【中心运单数据】进行关于业务的网点分拨进行更新和数据格式更新以及建立【新数据汇总xxx表】,计算相关业务指标<br>
`【02】`查询插入表中，最终将3张数据汇总表写入本地，以.csv格式文件保存在./outdta文件夹中<br>

In [ ]:
"""
【01】对【中心运单数据】进行关于业务的网点分拨进行更新和数据格式更新以及建立【新数据汇总xxx表】,计算相关业务指标
"""
import datetime
start = datetime.datetime.now()#计时开始
print('开始时间： ' + str(start))

import os
import time
import math
import copy

#读取sql文件生成sql语句列表list
def readSqlFile(path):
        f = open(path, "r", encoding="gbk")
        lines = f.readlines()
 
        sqlList = []
        thisSql = ""
        mulNote = False
        for line in lines:
            string = str(line).strip()
            if string == "":
                continue
 
            # part1 multi-line comment
            if mulNote:
                if string.startswith("*/"):
                    mulNote = False
                continue
            if string.startswith("/*"):
                mulNote = True
                continue
            if string.startswith("#") or string.startswith("--"):
                continue
 
            strIn1 = False
            strIn2 = False
            for i in range(len(string)):
                c = string[i]
                # part2 string in sql
                if "'" == c:
                    if not strIn1:
                        strIn1 = True
                    else:
                        strIn1 = False
                    continue
 
                if '"' == c:
                    if not strIn2:
                        strIn2 = True
                    else:
                        strIn2 = False
                    continue
 
                if strIn1 is True and strIn2:
                    continue
 
                # part3 end of sql
                if ";" == c:
                    string = string[0:(i + 1)]
                    break
 
                # part4 comment behind of the sql
                if "#" == c:
                    string = string[0:i]
                    break
                if "-" == c and i <= len(string) - 2 \
                        and "-" == string[i + 1]:
                    string = string[0:i]
                    break
 
            # part5 join multi-line for one sql
            thisSql += " " + string
 
            # part6 end of sql
            if string.endswith(";"):
                sqlList.append(copy.deepcopy(thisSql))
                thisSql = ""
 
        return sqlList

folder = ".\SQL_code\\"
namelist = os.listdir(".\SQL_code")
for i in namelist:
    
    #拼接文件完整路径
    filename = folder + str(i)
    print("开始读取SQL脚本文件："+filename)
    sqllist = readSqlFile(filename)
    ##计数器（控制暂停）
    count = 0
    for line in sqllist:
        count += 1
      
        print("执行SQL语句: "+line)
                    
        cmd = "mysql -u root -p123456 -h localhost -P 3306 中心运单货量汇总 -e " + '"' + line + '"'
        #1、仅执行cmd命令，无返回值，不能打印输出结果
        os.system(cmd)
        print ("///////////////////////////////////执行SQL命令第"+str(count)+"条成功！///////////////////////////////////")

    print("一共有%d条sql语句执行成功" %count)
    
end = datetime.datetime.now()
print('结束时间： '+str(end))
print("cmd运行SQL脚本共耗时时间："+str((end-start).seconds)+"秒")

In [ ]:
"""
【02】查询插入表中，最终将3张数据汇总表写入本地，以.csv格式文件保存在./outdta文件夹中
"""
# -*- coding: utf-8 -*-
from datetime import datetime
 
start = datetime.now()#计时开始

print('开始时间： ' + str(start))
import pandas as pd 
from sqlalchemy import create_engine
import pymysql
import re

def database_query_to_df(connection,sql_str):
    # Define a query
    query = sql_str
    # Pass the parameters to the query, execute it, and store the results in a data frame
    df = pd.read_sql(query, connection)
    return df

engine =create_engine('mysql+pymysql://root:123456''@localhost:3306/中心运单货量汇总',encoding='utf8') 

folder = ".\sqlhuizong\\"
namelist = os.listdir(".\sqlhuizong")
for i in namelist:
    
    #拼接文件完整路径
    filename = folder + str(i)
    print("开始读取SQL脚本文件："+filename)
    sqllist = readSqlFile(filename)
    ##计数器（控制暂停）
    count = 0
    for line in sqllist:
        count += 1
      
        print("执行SQL语句: "+line)
        name = re.findall(r".*from (.*) order.*",line)
        name = "".join(name)+"v"+str(+count)
        
        datadf= database_query_to_df(engine,line)
        datadf.to_csv("./outdata/%s.csv" %name,index=False,encoding="gb2312")
   
    print("一共有%d条sql语句执行成功" %count)
            huoalon
end = datetime.now()
print('结束时间： '+str(end))
print("读取MySQL数据汇总运行时间："+str((end-start).seconds)+"秒")

# 《三》更新《每月货量/票数明细汇总表》
`从数据库中读取所需货量/票数数据，写入月表中参与相关业务指标计算`<br>
`进行按省区分组排序，计算汇总每日货量/票数`<br>
`进行按省区分组排序，计算汇总每日货量/票数`<br>
`进行按省区分组排序，计算汇总每日货量/票数`<br>

In [198]:
from datetime import timedelta, datetime

import pandas as pd 
from sqlalchemy import create_engine
import pymysql
import re

def database_query_to_df(connection,sql_str):
    # Define a query
    query = sql_str
    # Pass the parameters to the query, execute it, and store the results in a data frame
    df = pd.read_sql(query, connection)
    return df

def get_week_day(date):
  week_day_dict = {
    0 : '周一',
    1 : '周二',
    2 : '周三',
    3 : '周四',
    4 : '周五',
    5 : '周六',
    6 : '周日',
  }
  day = date.weekday()
  return week_day_dict[day]

engine =create_engine('mysql+pymysql://root:123456''@localhost:3306/中心运单货量汇总',encoding='utf8')

new_huizong_namelist = []
week_list = ["始发省区"]

shengquluyou = "select 始发省区,到达省区,路由  from 新数据汇总0718" 
final_df = database_query_to_df(engine,shengquluyou)
#设置range(15,0,-1)表示当日至前两周
for i in range(16,1,-1):

    yesterday = datetime.today() + timedelta(-i)
#     filename = "中心运单--" + yesterday.strftime('%m%d') + ".xlsx"
    biaoname = "新数据汇总" + yesterday.strftime('%m%d')
    
    weekdate = get_week_day(yesterday)
    new_huizong_namelist.append(biaoname)
    week_list.append(weekdate)
    
#     sqlhuoliang = "select 货量汇总 as %s货量 from " %weekdate + biaoname

    sqlhuoliang = "select 货量汇总 as %s日货量 from " %yesterday.strftime('%d') + biaoname
#     sqlpiaoshu = "select 票数汇总 as 票数 from " + biaoname
    
    dfhuoliang = database_query_to_df(engine,sqlhuoliang)
#     dfpiaoshu = database_query_to_df(engine,sqlpiaoshu)
    mergedata = [final_df,dfhuoliang]
    final_df = pd.concat(mergedata,axis=1)
       
# print(week_list)
# print(new_huizong_namelist)

final_df.head()

C:\ProgramData\Anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1366, "Incorrect string value: '\\xD6\\xD0\\xB9\\xFA\\xB1\\xEA...' for column 'VARIABLE_VALUE' at row 1")
  result = self._query(query)
C:\ProgramData\Anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (3719, "'utf8' is currently an alias for the character set UTF8MB3, but will be an alias for UTF8MB4 in a future release. Please consider using UTF8MB4 in order to be unambiguous.")
  result = self._query(query)

,始发省区,到达省区,路由,04日货量,05日货量,06日货量,07日货量,08日货量,09日货量,10日货量,11日货量,12日货量,13日货量,14日货量,15日货量,16日货量,17日货量,18日货量
0,安徽,江苏,安庆-常州,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,安徽,西南,安庆-成都,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,安徽,西南,安庆-乐山集散站,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,安徽,西南,安庆-绵阳,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,安徽,西南,安庆-南充市,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [199]:
# as_index=False，这样做可以使分组列不参与索引
data_sort = final_df.groupby("始发省区",as_index=False).sum()

# new_huizong_namelist
# week_list
list_custom = ['广东','浙江','江苏','京津冀','山东','上海','西南','福建','安徽','河南','江西','湖南','东北','湖北','西北','广西','贵州','山西','云南']
# 设置成“category”数据类型
data_sort["始发省区"] = data_sort["始发省区"].astype('category')
# # inplace = True，使 recorder_categories生效
data_sort["始发省区"].cat.reorder_categories(list_custom,inplace=True)

# # # inplace = True，使 df生效
data_sort.sort_values("始发省区", inplace=True)
data_sort.columns = week_list

data_sort.head()

,始发省区,周六,周日,周一,周二,周三,周四,周五,周六,周日,周一,周二,周三,周四,周五,周六
7,广东,13.42098,13.42098,13.42098,13.42098,13.42098,13.42098,13.42098,13.42098,13.42098,13.42098,13.42098,13.42098,13.42098,13.42098,13.42098
12,浙江,12.52464,12.52464,12.52464,12.52464,12.52464,12.52464,12.52464,12.52464,12.52464,12.52464,12.52464,12.52464,12.52464,12.52464,12.52464
9,江苏,13.00430,13.00430,13.00430,13.00430,13.00430,13.00430,13.00430,13.00430,13.00430,13.00430,13.00430,13.00430,13.00430,13.00430,13.00430
3,京津冀,12.75753,12.75753,12.75753,12.75753,12.75753,12.75753,12.75753,12.75753,12.75753,12.75753,12.75753,12.75753,12.75753,12.75753,12.75753
5,山东,22.41038,22.41038,22.41038,22.41038,22.41038,22.41038,22.41038,22.41038,22.41038,22.41038,22.41038,22.41038,22.41038,22.41038,22.41038

In [216]:
# #本周一周货量数据
weekhuoliang = data_sort.iloc[:,-7:]

#当日货量数据
# data_sort.iloc[:,-1:]

# #当日货量数据+7日
# data_sort.iloc[:,8:9]

# # 当日同比上周（*本周数据*）
today_lastweek = data_sort.iloc[:,-1:]-data_sort.iloc[:,8:9]
today_lastweek.columns = ["当日同比上周"]
# today_lastweek

# # 当日环比昨日（*本周数据*）serises
today_lastday = data_sort.iloc[:,-1]-data_sort.iloc[:,-2]
today_lastday = today_lastday.to_frame()
today_lastday.columns = ["当日环比昨日"]
# today_lastday


# #当日同比上周（*上周数据*）
# lastday_lastweek = data_sort.iloc[:,8:9]-data_sort.iloc[:,1:2]
# lastday_lastweek

# # # 当日环比昨日（*上周数据*）serises
# last_lastday = data_sort.iloc[:,8:9]-data_sort.iloc[:,1:2]
# last_lastday

#本周工作日货量均值
#行一周求和-周六周日


#上周工作日货量均值


# #########数据汇总###############
new_mergedata = [data_sort.iloc[:,:1],weekhuoliang,today_lastweek,today_lastday]
new_final_df = pd.concat(new_mergedata,axis=1)
new_final_df

,始发省区,周日,周一,周二,周三,周四,周五,周六,当日同比上周,当日环比昨日
7,广东,13.42098,13.42098,13.42098,13.42098,13.42098,13.42098,13.42098,0.0,0.0
12,浙江,12.52464,12.52464,12.52464,12.52464,12.52464,12.52464,12.52464,0.0,0.0
9,江苏,13.00430,13.00430,13.00430,13.00430,13.00430,13.00430,13.00430,0.0,0.0
3,京津冀,12.75753,12.75753,12.75753,12.75753,12.75753,12.75753,12.75753,0.0,0.0
5,山东,22.41038,22.41038,22.41038,22.41038,22.41038,22.41038,22.41038,0.0,0.0
0,上海,6.21700,6.21700,6.21700,6.21700,6.21700,6.21700,6.21700,0.0,0.0
17,西南,21.74277,21.74277,21.74277,21.74277,21.74277,21.74277,21.74277,0.0,0.0
15,福建,3.89264,3.89264,3.89264,3.89264,3.89264,3.89264,3.89264,0.0,0.0
4,安徽,15.92988,15.92988,15.92988,15.92988,15.92988,15.92988,15.92988,0.0,0.0
11,河南,9.03975,9.03975,9.03975,9.03975,9.03975,9.03975,9.03975,0.0,0.0
10,江西,12.71194,12.71194,12.71194,12.71194,12.71194,12.71194,12.71194,0.0,0.0
14,湖南,2.53045,2.53045,2.53045,2.53045,2.53045,2.53045,2.53045,0.0,0.0
1,东北,20.43735,20.43735,20.43735,20.43735,20.43735,20.43735,20.43735,0.0,0.0
13,湖北,15.74281,15.74281,15.74281,15.74281,15.74281,15.74281,15.74281,0.0,0.0
16,西北,2.80694,2.80694,2.80694,2.80694,2.80694,2.80694,2.80694,0.0,0.0
8,广西,1.06197,1.06197,1.06197,1.06197,1.06197,1.06197,1.06197,0.0,0.0
18,贵州,2.31074,2.31074,2.31074,2.31074,2.31074,2.31074,2.31074,0.0,0.0
6,山西,2.49824,2.49824,2.49824,2.49824,2.49824,2.49824,2.49824,0.0,0.0
2,云南,3.85872,3.85872,3.85872,3.85872,3.85872,3.85872,3.85872,0.0,0.0

In [ ]:
# # 当日环比昨日（*本周数据*）serises
today_lastday = data_sort.iloc[:,-1]-data_sort.iloc[:,-2]
today_lastday = today_lastday.to_frame()
today_lastday.columns = ["当日环比昨日"]
today_lastday

In [217]:
from datetime import timedelta, datetime
for i in range(14,0,-1):

    yesterday = datetime.today() + timedelta(-i)
#     filename = "中心运单--" + yesterday.strftime('%m%d') + ".xlsx"
    biaoname = "新数据汇总" + yesterday.strftime('%m%d')
    
    sqlhuoliang = "select 货量汇总 as %s日货量 from " %yesterday.strftime('%d') + biaoname
    print(biaoname)
    print(sqlhuoliang)
#     sqlpiaoshu = "select 票数汇总 as 票数 from " + biaoname

新数据汇总0706
select 货量汇总 as 06日货量 from 新数据汇总0706
新数据汇总0707
select 货量汇总 as 07日货量 from 新数据汇总0707
新数据汇总0708
select 货量汇总 as 08日货量 from 新数据汇总0708
新数据汇总0709
select 货量汇总 as 09日货量 from 新数据汇总0709
新数据汇总0710
select 货量汇总 as 10日货量 from 新数据汇总0710
新数据汇总0711
select 货量汇总 as 11日货量 from 新数据汇总0711
新数据汇总0712
select 货量汇总 as 12日货量 from 新数据汇总0712
新数据汇总0713
select 货量汇总 as 13日货量 from 新数据汇总0713
新数据汇总0714
select 货量汇总 as 14日货量 from 新数据汇总0714
新数据汇总0715
select 货量汇总 as 15日货量 from 新数据汇总0715
新数据汇总0716
select 货量汇总 as 16日货量 from 新数据汇总0716
新数据汇总0717
select 货量汇总 as 17日货量 from 新数据汇总0717
新数据汇总0718
select 货量汇总 as 18日货量 from 新数据汇总0718
新数据汇总0719
select 货量汇总 as 19日货量 from 新数据汇总0719